<header class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="assets/ps-logo.png" 
            alt="logo da psn"
            width="140px"
            height="32px"
            >
    </div>
    <nav class="menu-bar__item">
        <ul>
            <li><a href="https:/linkedin.com/in/abraão-mendes-de-oliveira-neto-b91788287" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/abrahaomendes" target="_blank">Github</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </nav>
</header>
